.App {
  text-align: center;
  color: white;
}
  
.App-header {
  background-color: #282c34;
  padding: 20px;
}
  
.main-content {
  display: flex;
  background-color: #282c34;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
  
.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
  
.book-item {
  cursor: pointer;
}
  
.book-item img {
  width: 150px;
  height: auto;
}
  
.book-detail {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%);
  background-color: skyblue;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
}
  
.book-detail img {
  width:102.89px;
  height:199.22px;
  transform: rotate(-3.5deg);
  margin-right: 20px; 
}

.book-detail h2 {
  margin-top: 0; 
  margin-bottom: 10px; 
  width: 100%;
}

.book-detail p {
  margin: 0; 
  width: 100%; 
}
  
.book-detail button {
  margin: 10px;
 
}
  
